* {
    margin: 0px;
    border: 0px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;


}

.main-container {

    width: 1300px;
    height: 600px;
    border: 10px solid #7fd8e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddf2f5;
    border-radius: 5px;
    margin-top: 10%;


}

.container {
    width: 300px;
    height: 500px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.head {
    display: flex;
    gap: 1rem;
    font-size: 30px;
}

.head h3 {
    background-color: #17a2b8;
    padding: 5px 30px;
    border-radius: 50px;
    color: white;
}

.counter-refersh-btn {

    display: flex;
    gap: 1rem;

}

.fa-arrows-rotate {

    background-color: #28a745;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.fa-recycle {

    background-color: #4da5fc;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;


}

.main-counter {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1rem;

}

.counter {
    display: flex;
    gap: 1rem;
}

.num {
    background-color: #ffc107;
    width: 80px;
    height: auto;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

}

.plus-btn {

    background-color: #616a71;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.min-btn {

    background-color: #5cbecd;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.delete {
    background-color: #dc3545;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}